In [2]:
import pandas as pd
from pandas import DataFrame

In [13]:
# list_of_overview = [
#     "Company_name",
#     "Cover_letter",
#     "Type",
#     "Resume",
#     "Date",
#     "Place",
#     "Announcement_found"
# ]

# dataframe = pd.DataFrame(columns=list_of_overview)

In [101]:
# run the demo one
dataframe = pd.read_csv("job_oversikt.csv")
dataframe.head()

Empty DataFrame
Columns: [Company_name, Cover_letter, Type, Resume, Date, Place, Announcement_found]
Index: []

In [112]:
list_ = dataframe.columns
list_
dict_ = {'Company_name': [], 'Cover_letter': [], 'Type':[], 'Resume':[], 'Date':[], 'Place':[],
       'Announcement_found':[]}

# Company_name = []
# Cover_letter = []
# Type = []
# Resume = []
# Date = []
# Place = []
# Announcement_found = []

for num, col in enumerate(dataframe.columns):
    user_input : str = input(f"Enter your input {col}: ")
    list(dict_.values())[num].append(user_input)

dict_

{'Company_name': ['comp-1'],
 'Cover_letter': ['prev-1'],
 'Type': ['data'],
 'Resume': ['prev-1'],
 'Date': ['0109'],
 'Place': ['oslo'],
 'Announcement_found': ['finn']}

In [113]:
pd.DataFrame(dict_)

  Company_name Cover_letter  Type  Resume  Date Place Announcement_found
0       comp-1       prev-1  data  prev-1  0109  oslo               finn

In [115]:
# add if attest added to the dataframe
dataframe = pd.read_csv("job_oversikt.csv")
dataframe["Attest_added"] = None
dataframe.to_csv("job_oversikt.csv", index=False, header=True)

In [5]:
from datetime import datetime
print(datetime.now().date())

TypeError: unbound method datetime.date() needs an argument